.nowPlayingTab {
  padding: 1em;
}

.nowPlayingCard{
  margin-bottom: 1em;
}

.nowPlayingCard button a {
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  padding: 10px;
}

.btnWrapper{
  text-align: center;
  margin: 10px;
}